@font-face {
  font-family: "SourceHanSansCN-Regular";
  src: url("../fonts/SourceHanSansCN-Regular.woff2") format("woff2"),
    url("../fonts/SourceHanSansCN-Regular.woff") format("woff"),
    url("../fonts/SourceHanSansCN-Regular.ttf") format("truetype"),
    url("../fonts/SourceHanSansCN-Regular.eot") format("embedded-opentype"),
    url("../fonts/SourceHanSansCN-Regular.svg") format("svg"),
    url("../fonts/SourceHanSansCN-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FZLanTingHeiS-L-GB';
  src: url('../fonts/FZLTXIHJW--GB1-0.eot');
  src: url('../fonts/FZLTXIHJW--GB1-0d41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FZLTXIHJW--GB1-0.woff2') format('woff2'),
    url('../fonts/FZLTXIHJW--GB1-0.woff') format('woff'),
    url('../fonts/FZLTXIHJW--GB1-0.ttf') format('truetype'),
    url('../fonts/FZLTXIHJW--GB1-0.svg#FZLTXIHJW--GB1-0') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YueYuan";
  src: url('../fonts/MFYueYuan_Noncommercial-Regular.eot');
  src: url('../fonts/MFYueYuan_Noncommercial-Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MFYueYuan_Noncommercial-Regular.woff2') format('woff2'),
    url('../fonts/MFYueYuan_Noncommercial-Regular.woff') format('woff'),
    url('../fonts/MFYueYuan_Noncommercial-Regular.ttf') format('truetype'),
    url('../fonts/MFYueYuan_Noncommercial-Regular.svg#MFYueYuan_Noncommercial-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



header.hide {
  top: -12%;
}

#wapper .pc-swiper-mainBody .slideHome {
  background-image: url(../images-pc-carstyle/airev/pc-video.jpg);
}

#wapper .pc-swiper-mainBody .slideHome .home-arrow {
  left: 48%;
}


#wapper .nav {
  position: fixed;
  width: 8.54167vw;
  height: 32.26562vw;
  top: 52%;
  right: 0;
  z-index: 99;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

#wapper .nav li {
  width: 8.54167vw;
  height: 3.1808vw;
  background-image: url(../images-pc-carstyle/pc-nav.png);
  background-size: 201%;
  background-position-x: 100%;
  list-style: none;
  cursor: pointer;
  margin-left: 3.41146vw;
}

#wapper .nav li.active {
  background-position-x: 0;
  -webkit-animation: 1s nav forwards;
  -moz-animation: 1s nav forwards;
  animation: 1s nav forwards;
}

#wapper .nav .nav-01 {
  background-position-y: 0%;
}

#wapper .nav .nav-02 {
  background-position-y: 10.67%;
}

#wapper .nav .nav-03 {
  background-position-y: 21.34%;
}

#wapper .nav .nav-04 {
  background-position-y: 32.01%;
}

#wapper .nav .nav-05 {
  background-position-y: 43.68%;
}

#wapper .nav .nav-06 {
  background-position-y: 54.35%;
}

#wapper .nav .nav-07 {
  background-position-y: 65.5%;
}

#wapper .nav .nav-08 {
  background-position-y: 77.02%;
}

#wapper .nav .nav-09 {
  background-position-y: 89.02%;
}

#wapper .nav .nav-10 {
  background-position-y: 99.7%;
}

.reserve_form .btm {
  padding-top: 3px;
}

.reserve_form .btm .btn {
  width: 5.45312vw;
  height: 2.8vw;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #333333;
  font-family: "SourceHanSansCN-Regular";
  font-size: 1.2625vw;
  color: #333333;
  text-align: center;
  line-height: 2.7vw;
  cursor: pointer;
  margin-top: 2.64583vw;
}

.home-play {
  width: 52%;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
  z-index: 2;
}

.cloud {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.tryImg {
  width: 100%;
  /* height: 100%; */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}

.tryImg:nth-child(1) {
  display: block;
}

.slideTry .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all .5s;
}

.slideTry .bg.bg0 {
  background-image: url(../images-pc-carstyle/airev/try-0.jpg);
  background-position: center 20%;
}

.slideTry .bg.bg1 {
  background-image: url(../images-pc-carstyle/airev/try-6.html);
  background-position: center 20%;
}

.slideTry .bg.bg2 {
  background-image: url(../images-pc-carstyle/airev/try-4.html);
  background-position: center 20%;
}

/* .slideTry .bg.bg3 {
  background-image: url(../images-pc-carstyle/airev/try-5.jpg);
  background-position: center 20%;
} */

.slideTry .bg.bg3 {
  background-image: url(../images-pc-carstyle/airev/try-3.html);
  background-position: center 20%;
}

.slideTry .bg.bg4 {
  background-image: url(../images-pc-carstyle/airev/try-1.html);
  background-position: center 20%;
}

.slideTry .bg.bg5 {
  background-image: url(../images-pc-carstyle/airev/try-2.html);
  background-position: center 20%;
}

.slideTry .bg.bg6 {
  background-image: url(../images-pc-carstyle/airev/try-7.html);
  background-position: center 20%;
}

.slideTry .bg.on {
  opacity: 1;
}


.slideTry .bom {
  width: 90%;
  height: 4px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate3d(-50%, 0, 0);
  z-index: 2;
}

.slideTry .bom .line {
  width: 100%;
  height: 2px;
  background: #d6e4ef;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.slideTry .bom .box {
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.slideTry .bom .box span {
  width: 25%;
  height: 4px;
  background: transparent;
  cursor: pointer;
  display: block;
  float: left;
}

.slideTry .bom span.on {
  background: #fff;
}

.btnYue {
  height: 13%;
  position: absolute;
  left: 0;
  top: 27%;
  cursor: pointer;
  z-index: 2;
}

.btnJin {
  height: 13%;
  position: absolute;
  left: 0;
  top: 43%;
  cursor: pointer;
  z-index: 2;
}

.yuWin {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 9;
  display: none;
}

.yuBox {
  width: 90%;
  /* height: 80%; */
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images-pc-carstyle/airev/bg-yuyue.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate3d(-50%, -50%, 0);
}

.yuBox .close {
  width: 2.5%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.yuBox .ban {
  height: 100%;
  display: block;
}

.testDrive-sec {
  width: 20%;
  position: absolute;
  top: 10%;
  right: 8%;
}

.testDrive-sec .title {
  width: 58%;
}

.reserve_form {
  width: 100%;
  margin-top: 2.3875vw
}

.reserve_form .grid {
  width: 100%;
  margin-bottom: 12px;
}

.reserve_form .drop_select {
  height: 4.125vw;
}

.reserve_form .drop_select .tit {
  font-family: "fzzh";
  font-size: 1.04167vw;
  color: #000;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
}

.reserve_form .drop_select .gredn {
  font-family: "fzzh";
  font-size: .94167vw;
  color: #000;
  position: absolute;
  bottom: .4vw;
  cursor: pointer;
  z-index: 2;
}

.reserve_form .drop_select .gredn.gd1 {
  right: 0;
}

.reserve_form .drop_select .gredn.gd2 {
  right: 4vw;
}

.reserve_form .drop_select .gredn .icon {
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  border-radius: 8px;
  display: block;
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

.reserve_form .drop_select .gredn.on .icon {
  background: #57bf83;
  border: 1px solid #57bf83;
}

.reserve_form .drop_select input {
  width: 100%;
  height: 70%;
  top: auto;
  bottom: 0;
  padding: 0;
}

.reserve_form .drop_select select {
  height: 70%;
  top: auto;
  bottom: 0;
  padding: 0;
}

.jinWin {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 9;
  display: none;
}

.jinWin .jinBox {
  width: 90%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  transform: translate3d(-50%, -50%, 0);
}

.jinWin .jinBox .close {
  width: 2.5%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.loan_step1_form {
  display: block;
}

.finance-title {
  width: 22%;
  margin-bottom: 60px;
  display: block;
}

.finance-btn-box {
  margin-top: 2.60417vw;
  display: flex;
  margin-bottom: 2.60417vw;
}

.finance-btn {
  width: 14.45312vw;
  height: 3.54167vw;
  background-image: url(../images-pc-carstyle/pc-finance-btn.png);
  background-size: 100%;
  background-position: 50% 100%;
  cursor: pointer;
  margin: 0 auto;
}

.colorLogo {
  width: 11%;
  position: absolute;
  left: 3%;
  top: 5%;
}

#wapper .pc-swiper-mainBody .colors ul {
  position: absolute;
  top: 4%;
  right: 3%;
  margin: 0;
  padding: 0;
  z-index: 99;
}

#wapper .pc-swiper-mainBody .colors ul li {
  width: 11.29167vw;
  list-style: none;
  font-size: 1.35417vw;
  font-weight: bold;
  font-family: "SourceHanSansCN-Regular";
  float: left;
  color: #adadad;
  cursor: pointer;
  letter-spacing: 3px;
  text-align: center;
}

#wapper .pc-swiper-mainBody .colors ul li i {
  display: block;
  font-size: .8vw;
}

#wapper .pc-swiper-mainBody .colors ul li.active {
  color: #333;
}

#wapper .pc-swiper-mainBody .slidePeizhi .txt {
  width: 58.51667vw;
  margin-left: 12vw;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-wrap .img-wrap {
  width: 98%;
  height: 91%;
  padding-right: 2%;
}

.yueSlide {
  width: 4.37%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;
  z-index: 3;
}

.txtInfo {
  position: absolute;
  left: 5%;

  z-index: 5;
}

.txtInfo.txtInfo1 {
  bottom: 6%;
}

.txtInfo.txtInfo2 {
  bottom: 25%;
  display: none;
}

.txtInfo .carPrice {
  text-align: right;
  font-size: 3.125vw;
  font-family: "fzzzh";
  color: #333;
  line-height: 1.5;
}

.txtInfo .carPrice .p {
  font-size: 1.60625vw;
}

.txtInfo .carPrice .p {
  font-size: 1.60625vw;
}

.txtInfo .carPrice .carDistance {
  font-size: 1.25417vw;
  font-family: "fzzh";
  display: block;
  text-align: right;
  margin-right: 5px;
}

.carColorInfo {
  width: 50.3%;
  position: absolute;
  left: 3%;
  top: 15%;
  text-align: right;
}

.lvTxt {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-245px, 0);
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: all .5s;
}

.lvTxt.on {
  transform: translate(-0, 0);
  opacity: 1;
  visibility: visible;
}

.carColorInfo .criBg {
  width: 79.42%;
  display: inline;
}

.carColorInfo .cri {
  width: 79.42%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.carColorInfo .cri.c1 {
  transform: rotate(-180deg);
  z-index: 2;
}

.carColorInfo .cri.c1.act {
  transition: all 1s;
  transform: rotate(0deg);
}

.carColorInfo .cri.c2 {
  z-index: 1;
}

.carColorCry {
  width: 25.2%;
  position: absolute;
  left: -14%;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

/* .carColorCry.on {
  animation: ccc .6s linear forwards;
} */

/* @keyframes ccc {
  0% {
    transform: translate3d(0, -50%, 0) scale(0);
  }

  70% {
    transform: translate3d(0, -50%, 0) scale(1.2);
  }

  100% {
    transform: translate3d(0, -50%, 0) scale(1);
  }
} */

.carColorCar {
  width: 45.2%;
  height: 100%;
  background: #dcf1e5;
  position: absolute;
  left: 33.2%;
  top: 0;
  z-index: 9;
}

.carColorCar .car {
  height: 60%;
  position: absolute;
  left: 23%;
  bottom: 28%;
}

.colorBtns {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 16%;
}

.colorBtns .btnMore {
  height: 53%;
  width: 32%;
  position: absolute;
  top: 194%;
  right: 2%;
  cursor: pointer;
}

.colorBtns .btnMore .bg0 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
}

.colorBtns .btnMore .bg1 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
}

.colorBtns .btnMore .bg2 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.colorBtns .btnMore:hover .bg1 {
  opacity: 0;
}

.colorBtns .btnMore:hover .bg2 {
  opacity: 1;
}

.colorBtns .cb {
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  border-radius: 45px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.colorBtns .cb img {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.colorBtns .cb.cb1 {
  left: 4%;
}

.colorBtns .cb.cb2 {
  left: 13%;
}

.colorBtns .cb.cb3 {
  left: 22%;
}

.colorBtns .cb.cb4 {
  left: 38%;
}

.colorBtns .cb.cb5 {
  left: 47%;
}

.colorBtns .cb.cb6 {
  left: 56%;
}

.colorBtns .cb.cb7 {
  left: 71%;
}

.colorBtns .cb.cb8 {
  left: 80%;
}

.colorBtns .cb.cb9 {
  left: 89%;
}

.colorBtns .cb.cb10 {
  left: 4%;
  top: 177%
}

.colorBtns .cb.cb11 {
  left: 13%;
  top: 177%
}

.colorBtns .cb.cb12 {
  left: 22%;
  top: 177%
}

.colorBtns .cb.cb13 {
  left: 22%;
  top: 177%;
  display: none;
}

.colorBtns .cb.cb14 {
  left: 32%;
  top: 177%;
  display: none;
}

.colorBtns .cb.cb15 {
  left: 65%;
  top: 177%;
  display: none;
}

.colorBtns .cb.cb16 {
  left: 75%;
  top: 177%;
  display: none;
}


.colorBtns .cb.cb1:hover,
.colorBtns .cb.cb1.act,
.colorBtns .cb.cb2:hover,
.colorBtns .cb.cb2.act,
.colorBtns .cb.cb3:hover,
.colorBtns .cb.cb3.act {
  border: 1px solid #a8cdb9;
}

.colorBtns .cb.cb4:hover,
.colorBtns .cb.cb4.act,
.colorBtns .cb.cb5:hover,
.colorBtns .cb.cb5.act,
.colorBtns .cb.cb6:hover,
.colorBtns .cb.cb6.act {
  border: 1px solid #ffb9c6;
}

.colorBtns .cb.cb7:hover,
.colorBtns .cb.cb7.act,
.colorBtns .cb.cb8:hover,
.colorBtns .cb.cb8.act,
.colorBtns .cb.cb9:hover,
.colorBtns .cb.cb9.act {
  border: 1px solid #ffe05a;
}

.colorBtns .cb.cb10:hover,
.colorBtns .cb.cb10.act,
.colorBtns .cb.cb11:hover,
.colorBtns .cb.cb11.act,
.colorBtns .cb.cb12:hover,
.colorBtns .cb.cb12.act {
  border: 1px solid #f1e2c5;
}

.colorBtns .cb.cb13:hover,
.colorBtns .cb.cb13.act,
.colorBtns .cb.cb14:hover,
.colorBtns .cb.cb14.act {
  border: 1px solid #6470c1;
}

.colorBtns .cb.cb15:hover,
.colorBtns .cb.cb15.act,
.colorBtns .cb.cb16:hover,
.colorBtns .cb.cb16.act {
  border: 1px solid #d5e04b;
}

.tipTxt {
  font-family: "fzzh";
  font-size: 1.25417vw;
  position: absolute;
  left: 8%;
  top: -50%;
  transition: all .5s;
}

.fullImg {
  width: 100%;
}

.fullSubImg {
  width: 100%;
  margin-top: -1px;
}

.slideP4-2 .f1 {
  width: 24.2%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.slideP4-2 .f2 {
  width: 32.2%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.slideP4-2 .f3 {
  width: 59.89%;
  position: absolute;
  right: 10.9%;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

#wapper .pc-swiper-mainBody .slideP4-1 .txt .slideP4-more,
#wapper .pc-swiper-mainBody .slideP4-2 .txt .slideP4-more,
#wapper .pc-swiper-mainBody .slideP4-3 .txt .slideP4-more {
  left: 8.16667vw;
  bottom: 6.55729vw;
}


#wapper .pc-swiper-mainBody .slideP4-1 .more-warp,
#wapper .pc-swiper-mainBody .slideP4-2 .more-warp,
#wapper .pc-swiper-mainBody .slideP4-3 .more-warp {
  background: #fff;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp {
  padding-top: 0;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .slideP4-hide {
  margin-top: -100px;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp {
  padding-bottom: 0;
}

#wapper .pc-swiper-mainBody .slideP4-1 .txt,
#wapper .pc-swiper-mainBody .slideP4-2 .txt,
#wapper .pc-swiper-mainBody .slideP4-3 .txt {
  background: none;
}


#wapper .pc-swiper-mainBody .slideVideo {
  background-image: none;
}

#wapper .pc-swiper-mainBody .slideVideo video {
  /* width: 100%; */
  height: 100%;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .txt {
  background-image: url(../images-pc-carstyle/airev/pc-color-btn-txt.png);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  margin-left: .5vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .color-btn {
  width: 8.4vw;
}

#wapper .pc-swiper-mainBody .slideP4 {
  background-image: url(../images-pc-carstyle/airev/pc-p4-bg-00.html);
}

#wapper .pc-swiper-mainBody .slideP4 .bg-01 {
  background-image: url(../images-pc-carstyle/airev/pc-p4-bg-01.html);
}

#wapper .pc-swiper-mainBody .slideP4 .bg-02 {
  background-image: url(../images-pc-carstyle/airev/pc-p4-bg-02.html);
}

#wapper .pc-swiper-mainBody .slideP4 .bg-03 {
  background-image: url(../images-pc-carstyle/airev/pc-p4-bg-03.html);
}

#wapper .pc-swiper-mainBody .slideP4 .bg-04 {
  background-image: url(../images-pc-carstyle/airev/pc-p4-bg-04.html);
}

#wapper .pc-swiper-mainBody .slideP4 .btn-wrap .btn {
  background-image: url(../images-pc-carstyle/airev/pc-p4-btn.html);
}

#wapper .pc-swiper-mainBody .slideP4-1 .txt .slideP4-more,
#wapper .pc-swiper-mainBody .slideP4-2 .txt .slideP4-more,
#wapper .pc-swiper-mainBody .slideP4-3 .txt .slideP4-more {
  background-image: url(../images-pc-carstyle/airev/pc-more-btn.html);
  z-index: 1;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .slideP4-hide,
#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .slideP4-hide,
#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .slideP4-hide {
  background-image: url(../images-pc-carstyle/airev/pc-hide-btn.html);
}

#wapper .pc-swiper-mainBody .slideP4-1 .img {
  background-image: url(../images-pc-carstyle/airev/pc-p4-img-01.html);
}

#wapper .pc-swiper-mainBody .slideP4-2 .img {
  background-image: url(../images-pc-carstyle/airev/pc-p4-img-02.html);
}

#wapper .pc-swiper-mainBody .slideP4-3 .img {
  background-image: url(../images-pc-carstyle/airev/pc-p4-img-03.html);
}

#wapper .pc-swiper-mainBody .slideP4-4 .img {
  background-image: url(../images-pc-carstyle/airev/pc-p4-img-04.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-thum .prev {
  width: 4vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
  z-index: 9;
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-thum .next {
  width: 4vw;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9;
  transform: translate3d(-50%, -50%, 0);
  cursor: pointer;
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-b img {
  cursor: pointer;
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(1) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-1.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(2) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-2.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(3) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-3.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(4) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-4.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(5) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-5.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(6) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-6.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(7) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-7.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(8) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-8.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(9) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-9.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(10) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-10.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(11) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-11.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(12) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-12.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(13) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-13.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(14) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-14.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(15) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-15.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(16) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-16.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(17) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-17.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(18) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-18.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(19) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-19.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(20) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-20.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(21) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-21.html);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(22) {
  background-image: url(../images-pc-carstyle/airev/img/pc-p6-img-22.html);
}

#wapper .pc-swiper-mainBody .slidePeizhi .top {
  background-image: url(../images-pc-carstyle/airev/pc-top.png);
}

#wapper .nav li {
  background-image: url(../images-pc-carstyle/airev/pc-nav-2.html);
}

/* #wapper .nav.style2 li {
  background-image: url(../images-pc-carstyle/airev/pc-nav2.png);
} */

#wapper .pc-swiper-mainBody .slideP4-1 .cont {
  background-image: url(../images-pc-carstyle/airev/liangdian/ld-1-img.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#wapper .pc-swiper-mainBody .slideP4-2 .cont {
  background-image: url(../images-pc-carstyle/airev/liangdian/ld-2-img.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#wapper .pc-swiper-mainBody .slideP4-3 .cont {
  background-image: url(../images-pc-carstyle/airev/liangdian/ld-3-img.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#wapper .pc-swiper-mainBody .slideP4-4 .cont {
  background-image: url(../images-pc-carstyle/airev/liangdian/ld-4-img.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.long-txt {
  width: 61.9%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all .5s;
}

.long-txt .bg {
  width: 100%;
  display: block;
}

#wapper .pc-swiper-mainBody .slideP4 .btn-wrap {
  width: 50.88542vw;
  height: 33.54167vw;
  flex-wrap: wrap;
}

#wapper .pc-swiper-mainBody .slideP4 .btn-wrap .btn {
  width: 25.44271vw;
  height: 16.77083vw;
  background-size: 200%;
}

#wapper .pc-swiper-mainBody .slideP4 .btn-wrap .btn-1 {
  background-position: 0 0;
}

#wapper .pc-swiper-mainBody .slideP4 .btn-wrap .btn-2 {
  background-position: 100% 0%;
}

#wapper .pc-swiper-mainBody .slideP4 .btn-wrap .btn-3 {
  background-position: 0% 100%;
}

#wapper .pc-swiper-mainBody .slideP4 .btn-wrap .btn-4 {
  background-position: 100% 100%;
}

#wapper .pc-swiper-mainBody .slideP4 .line {
  position: absolute;
  width: 1px;
  height: 13vw;
  left: 50%;
  top: 19%;
  transform: translate(-50%, -50%);
  border-right: 1px solid #fff;
  border-left: none;
}

#wapper .pc-swiper-mainBody .slideP4 .line2 {
  position: absolute;
  width: 1px;
  height: 12.77083vw;
  left: 50%;
  top: 82.5%;
  transform: translate(-50%, -50%);
  border-right: 1px solid #fff;
}

#wapper .pc-swiper-mainBody .slideP4-4 .txt .slideP4-title {
  position: absolute;
  top: 11.06771vw;
  left: 4.6875vw;
}

#wapper .pc-swiper-mainBody .slideP4-1 .txt .slideP4-title,
#wapper .pc-swiper-mainBody .slideP4-2 .txt .slideP4-title,
#wapper .pc-swiper-mainBody .slideP4-3 .txt .slideP4-title,
#wapper .pc-swiper-mainBody .slideP4-4 .txt .slideP4-title {
  width: 11.40625vw;
}

#wapper .pc-swiper-mainBody .slideTestDrive .finance-wrap .car {
  width: 42.91667vw;
  left: 43.61979vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .img {
  width: 58.88021vw;
  left: 6.79687vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-btn {
  background-color: #324c6f;
}

#wapper .pc-swiper-mainBody .slideP3 .car-btn-1 {
  background-color: #adadae;
}

#wapper .pc-swiper-mainBody .slideP3 .car-btn-2 {
  background-color: #788594;
}

#wapper .pc-swiper-mainBody .slideP3 .car-btn-3 {
  background-color: #22211f;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap {
  background-color: #7c9dc9;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap-1 {
  background-color: #b3b3b4;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap-2 {
  background-color: #b5bec9;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap-3 {
  background-color: #6d737b;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .carPrice .xz {
  font-size: 0.83333vw;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .title1 {
  width: 26.3%;
  left: auto;
  right: 0;
  margin-right: 11.7%;
  margin-top: 6.29688vw;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .title1.on {
  -webkit-animation: .5s left forwards;
  -moz-animation: .5s left forwards;
  animation: .5s left forwards;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .title2 {
  width: 43%;
  top: 8.5%;
  /* bottom: 27%; */
  right: 27.5%;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .title2.on {
  -webkit-animation: .5s right forwards;
  -moz-animation: .5s right forwards;
  animation: .5s right forwards;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .title3 {
  width: 100%;
  left: 0;
  top: 25%;
  /* right: 0; */
  /* transform: translate(-50%,0); */
  /* margin-right: 11.7%; */
  margin-top: 0;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .title3.on {
  -webkit-animation: .5s right forwards;
  -moz-animation: .5s right forwards;
  animation: .5s right forwards;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .title4 {
  width: 17%;
  margin-top: 20.83333vw;
  position: absolute;
  left: 0;
  margin-left: 8%;
  opacity: 0;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .title4.on {
  -webkit-animation: .5s left forwards;
  -moz-animation: .5s left forwards;
  animation: .5s left forwards;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .img1 {
  width: 63.25521vw;
  margin-top: 8.5vw;
  margin-left: 27.42188vw;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .img2 {
  margin-top: 6vw;
  margin-left: 9.29688vw;
  width: 68.72396vw;
  margin-bottom: 1.30208vw;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp {
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
}

.fullImgBanTit1 {
  width: 23.9%;
  position: absolute;
  left: 8.16667vw;
  bottom: 12.55729vw;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .slideP4-hide {
  position: absolute;
  bottom: 55px;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title1 {
  width: 19.3%;
  top: 2%;
  margin-left: 21%;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title2 {
  width: 12.3%;
  top: 69%;
  margin-right: 30%;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title3 {
  width: 10.3%;
  left: 25%;
  right: 0;
  bottom: 2%;
  top: auto;
  /* margin-top: 3.32812vw; */
  /* margin-right: 11.8%;*/
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title3.on {
  -webkit-animation: .5s left forwards;
  -moz-animation: .5s left forwards;
  animation: .5s left forwards;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title4 {
  width: 11.3%;
  position: absolute;
  right: 17%;
  top: 60%;
  /* margin-top: 2.32812vw;
  margin-left: 11.7%; */
  opacity: 0;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title4.on {
  -webkit-animation: .5s right forwards;
  -moz-animation: .5s right forwards;
  animation: .5s right forwards;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title5 {
  width: 8%;
  position: absolute;
  right: 35%;
  top: 33%;
  opacity: 0;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title5.on {
  -webkit-animation: .5s right forwards;
  -moz-animation: .5s right forwards;
  animation: .5s right forwards;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title6-1 {
  width: 10%;
  position: absolute;
  right: 21%;
  top: 2%;
  opacity: 0;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title6-1.on {
  -webkit-animation: .5s right forwards;
  -moz-animation: .5s right forwards;
  animation: .5s right forwards;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title6-2 {
  width: 10%;
  position: absolute;
  left: 0;
  top: 29%;
  margin-top: 2.32812vw;
  margin-left: 11.7%;
  opacity: 0;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title6-2.on {
  -webkit-animation: .5s left forwards;
  -moz-animation: .5s left forwards;
  animation: .5s left forwards;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .img1,
#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .img2 {
  width: 63.25521vw;
  margin-left: 27.34375vw;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .img1 {
  margin-top: 16.5vw;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .img2 {
  left: 0;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
  margin-bottom: 9.11458vw;
  margin-top: 24vw;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .title1 {
  cursor: pointer;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp {
  background: #f3f3f3;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .title1 {
  width: 17.9%;
  margin-top: 6.29688vw;
  left: 41%;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .title2 {
  width: 17.9%;
  margin-top: 0;
  left: 41%;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .title3 {
  width: 17.9%;
  margin-top: 7.29688vw;
  left: 41%;
  z-index: 1;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .txt1 {
  width: 17.31771vw;
  left: auto;
  right: 0;
  margin-right: 15.32292vw;
  margin-top: 15.5vw;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .txt2 {
  width: 13.17771vw;
  right: auto;
  left: 0;
  margin-left: 11.7vw;
  margin-top: 49.5vw;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .txt3 {
  width: 17.31771vw;
  right: auto;
  left: 0;
  margin-left: 11.7vw;
  margin-top: 16.5vw;
  z-index: 1;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .title1.on,
#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .txt1.on {
  -webkit-animation: .5s right forwards;
  -moz-animation: .5s right forwards;
  animation: .5s right forwards;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .title2.on,
#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .txt2.on,
#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .title3.on,
#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .txt3.on {
  -webkit-animation: .5s left forwards;
  -moz-animation: .5s left forwards;
  animation: .5s left forwards;
}

#wapper .pc-swiper-mainBody .slideImg .title {
  width: 8%;
  margin: 0 auto;
  display: block;
  margin-top: 4vw;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-wrap .img {
  padding-top: 3%;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-head .title {
  width: 34.98%;
  display: block;
  margin: 0 auto;
}

.video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  display: none;
}

.video-wrap .video-wrap-box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video-wrap .video-wrap-box #video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

.video-wrap .close {
  position: absolute;
  top: 4%;
  width: 3.29167vw;
  right: 3%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 9999999;
}

#wapper .pc-swiper-mainBody .slideP3 .car-logo {
  width: 13.46354vw;
}

#wapper .pc-swiper-mainBody .slideP4-4.more {
  overflow-y: scroll;
  overflow-x: hidden;
}

#wapper .pc-swiper-mainBody .slideP4-4.more .more-warp {
  display: block;
}

#wapper .pc-swiper-mainBody .slideP4-4 .txt {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 24.11458vw;
  background: #fff;
}

#wapper .pc-swiper-mainBody .slideP4-4 .txt .slideP4-more {
  position: absolute;
  width: 14.45312vw;
  height: 3.54167vw;
  bottom: 4.55729vw;
  left: 4.16667vw;
  background-image: url(../images-pc-carstyle/pc-more-btn.png);
  background-size: 100%;
  background-position: 50% 100%;
  cursor: pointer;
}

/* #wapper .pc-swiper-mainBody .slideP4-4 .txt .slideP4-more:hover {
  background-position: 50% 0%;
} */

#wapper .pc-swiper-mainBody .slideP4-4 .cont {
  position: relative;
  width: 100%;
  height: 100%;
}

#wapper .pc-swiper-mainBody .slideP4-4 .img {
  position: absolute;
  top: 0;
  left: 24.11458vw;
  height: 100%;
  width: 75.88542vw;
  background-position: 50% 50%;
  background-size: cover;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp {
  background-color: #f3f3f3;
  display: none;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box {
  position: relative;
  width: 100%;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .slideP4-hide {
  position: relative;
  width: 11.69271vw;
  height: 3.54167vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url(../images-pc-carstyle/pc-hide-btn.png);
  background-size: 100%;
  background-position: 50% 100%;
  cursor: pointer;
  margin-top: -8%;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .slideP4-hide:hover {
  background-position: 50% 0%;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title1 {
  position: absolute;
  width: 28vw;
  margin-top: 38.21354vw;
  left: 12vw;
  top: 0;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title1-1 {
  position: absolute;
  width: 26.87vw;
  margin-top: 30.21354vw;
  left: 63vw;
  top: 0;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title2 {
  position: absolute;
  width: 29.32vw;
  margin-top: 47.21354vw;
  right: 10vw;
  top: 0;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title3 {
  position: absolute;
  width: 24vw;
  margin-top: 28vw;
  left: 12vw;
  top: 0;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title3-1 {
  position: absolute;
  width: 19.94vw;
  margin-top: 42vw;
  right: 15vw;
  top: 0;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .txt1 {
  position: absolute;
  width: 14.42708vw;
  margin-top: 45.88542vw;
  left: 75.52083vw;
  top: 0;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .img1,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .img2,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .img3 {
  width: 63.25521vw;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 11.5vw;
  margin-left: 27.70833vw;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .img3 {
  margin-top: 21vw;
  margin-bottom: 9.11458vw;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title1,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title1-1,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title2,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title3,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title3-1,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .txt1,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .txt2,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .txt3 {
  opacity: 0;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title1.on,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title3.on {
  -webkit-animation: .5s left forwards;
  -moz-animation: .5s left forwards;
  animation: .5s left forwards;
}

#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title1-1.on,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title2.on,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .title3-1.on,
#wapper .pc-swiper-mainBody .slideP4-4 .more-warp .box .txt1.on {
  -webkit-animation: .5s right forwards;
  -moz-animation: .5s right forwards;
  animation: .5s right forwards;
}

#wapper .pc-swiper-mainBody .swiper-slide {
  overflow: hidden;
}

.qyImg {
  width: 100%;
}

.qyBom {
  width: 17.8%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.linkBtnBox {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 5%;
  text-align: center;
}

.more-btn {
  width: 19%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate3d(-50%, 0, 0);
  cursor: pointer;
}

.more-btn .def {
  width: 100%;
}

.more-btn .hover {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
}

.more-btn:hover .def {
  opacity: 0;
}

.more-btn:hover .hover {
  opacity: 1;
}

.hide-btn {
  width: 5%;
  position: fixed;
  right: 3%;
  top: 2%;
  cursor: pointer;
  z-index: 9999;
  display: none;
}

.hide-btn img {
  width: 100%;
}

.hide-btn.left {
  left: 3%;
  right: auto;
  top: 2%;
}

.gif {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50px;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-wrap {
  height: 47%;
  background: none;
  position: relative;
  width: 72.91667vw;
  margin: 3.77604vw auto 2.08333vw;
  padding: 0;
  padding-bottom: 3vw;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-wrap .head {
  width: 98%;
  height: 20%;
  background: #f8f8f8;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  display: flex;
  align-items: center;
}

.slidePeizhi-wrap .head .name {
  width: 42%;
  height: 75%;
  font-family: "YueYuan";
  font-size: 1.4vw;
  color: #000;
  border-right: 1px solid #888;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 2vw;
}

.slidePeizhi-wrap .head .carsy {
  width: 30%;
  height: 75%;
  font-family: "YueYuan";
  font-size: 1.1vw;
  color: #000;
  border-right: 1px solid #888;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slidePeizhi-wrap .head .carsy:last-child {
  border-right: 0;
}

.slidePeizhi-wrap .head .carsy .sub {
  font-size: 1.1vw;
  color: #848484;
  display: block;
}

.aslide {
  width: 100%;
}

.slide-tit {
  width: 97.2%;
  height: 5vw;
  border-bottom: 1px solid #888;
  font-family: "YueYuan";
  font-size: 1.5vw;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vw;
  background: #e4e4e4;
}

.slide-tit img {
  width: 1.8vw;
  margin-right: 2vw;
}

.slide-list {
  width: 100%;
  background: #f8f8f8;
  display: none;
}

.slide-list .item {
  width: 100%;
  height: 3vw;
  font-family: 'FZLanTingHeiS-L-GB';
  font-size: .9vw;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #888;
}

.slide-list .item .tit {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  border-right: 1px solid #888;
  margin-left: 2vw;
}

.slide-list .item .val {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #888;
}

.slide-list .item .val:last-child {
  border-right: 0;
}

.slide-list .item.it-1 .tit {
  width: 26%;
}

.slide-list .item.it-1 .val {
  width: 75%;
}

.slide-list .item.it-2 .tit {
  width: 25%;
}

.slide-list .item.it-2 .val {
  width: 35%;
}

.slide-list .item.it-4 .tit {
  width: 25%;
}

.slide-list .item.it-4 .val {
  width: 15%;
}

.slide-list .item._2 {
  height: 3vw;
}

.slide-list .item._2 .tit {
  flex-direction: column;
}

.changebox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: #fff;
}

.mack-pic {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .85);
  z-index: -99999999999999;
}

.mack-pic .close {
  width: 4%;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 0);
  z-index: 9;
  cursor: pointer;
}

.swiper-pic {
  width: 90%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 0, 0);
}

.swiper-pic .swiper-slide img {
  height: 75%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

.swiper-pic .pic-prev {
  width: 5%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 9;
}

.swiper-pic .pic-next {
  width: 5%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 9;
}

.slideP4-1,
.slideP4-2,
.slideP4-3,
.slideP4-4 {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  display: none;
}

.slideP4-1 .cont {
  width: 100%;
  height: 100%;
  background-image: url(../images-pc-carstyle/airev/liangdian/ld-1-img.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slideP4-2 .cont {
  width: 100%;
  height: 100%;
  background-image: url(../images-pc-carstyle/airev/liangdian/ld-2-img.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slideP4-3 .cont {
  width: 100%;
  height: 100%;
  background-image: url(../images-pc-carstyle/airev/liangdian/ld-3-img.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slideP4-4 .cont {
  width: 100%;
  height: 100%;
  background-image: url(../images-pc-carstyle/airev/liangdian/ld-4-img.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slideP4-1 .more-warp,
.slideP4-2 .more-warp,
.slideP4-3 .more-warp,
.slideP4-4 .more-warp {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all .5s;
  background: #fff;
}

.slideP4-1 .more-warp.on,
.slideP4-2 .more-warp.on,
.slideP4-3 .more-warp.on,
.slideP4-4 .more-warp.on {
  top: 0;
}

.tot {
  width: 100%;
  height: 100%;
  background-image: url(../images-pc-carstyle/airev/liangdian/ld-tot-img.jpg);
  background-size: cover;
  background-position: 50% 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  display: none;
}

.tot .txt {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  opacity: 1;
}

.page-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 1;
  transition: all .5s;
}

.reserve_form .btm .hint .txt {
  background: none;
}

.reserve_form .btm .hint .checkbox img {
  width: 88%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.reserve_form .btm .hint .txt.active {
  background: none;
}

@media (min-height: 2000px) {
  .booking .reserve_form .grid {
    margin-bottom: 9%;
  }

  .reserve_form .btm .hint .txt {
    height: auto;
  }
}

@media (min-height: 1600px) {
  .booking .reserve_form .grid {
    width: 38%;
    margin-bottom: 145px;
  }

  .booking .yuBox .ban {
    margin-left: -2%;
  }

  .reserve_form .btm .hint .txt {
    height: auto;
  }
}

@media (min-height: 901px) {
  .tipTxt {
    top: -127%;
  }
}


@media (max-height: 1000px) {
  .qyImg {
    margin-top: -5%;
  }
}

@media (max-height: 900px) {
  .tryImg {
    transform: scale(1.1);
  }

  .qyImg {
    margin-top: 0;
  }

  /* .linkBtnBox {
    bottom: 10%;
  } */
}

@media (max-height: 800px) {
  #wapper .pc-swiper-mainBody .swiper-slide.qiuanyi {
    background-position: 50% 19%;
  }

  .tryImg {
    top: -5%;
    transform: scale(1);
  }

  .qiuanyi-img-box {
    top: -5%;
  }

  .qyImg {
    margin-top: -5%;
  }

  /* .slideP4-3 .fullImg {
    position: absolute;
    left: 0;
    top: -12%;
  } */

  .finance-title {
    margin-bottom: 22px;
  }

  .finance-info {
    margin-top: 2.03646vw;
  }

  #wapper .pc-swiper-mainBody .slideP4-1 .txt .slideP4-more,
  #wapper .pc-swiper-mainBody .slideP4-2 .txt .slideP4-more,
  #wapper .pc-swiper-mainBody .slideP4-3 .txt .slideP4-more {
    bottom: 3.55729vw;
  }

  footer {
    bottom: 10px;
  }
}

.qiuanyi {
  background-image: url(../images-pc-carstyle/airev/bg-zhengce.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.qiuanyi .img1 {
  width: 92%;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate3d(-50%, 0, 0);
}

.qiuanyi .bom {
  width: 100%;
  height: 25%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.qiuanyi .img2 {
  width: 59.5%;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate3d(-50%, 0, 0);
}

.qiuanyi .img2 img {
  width: 100%;
}

.linkBtnBox {
  width: 63%;
  left: 50%;
  height: 95%;
  transform: translate(-50%, 0);
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.linkBtn {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.linkBtn.link1 {
  left: 0;
}

.linkBtn.link2 {
  left: 50%;
  transform: translate(-50%, 0);
}

.linkBtn.link3 {
  right: 0;
}

.link-box {
  width: 89%;
  position: absolute;
  left: 0;
  bottom: -22%;
  z-index: 1;
}

.link-box .bg {
  width: 100%;
}

.tot.on .page-mask {
  opacity: 1;
}

.tot.on .txt {
  opacity: 1;
  transition-delay: .4s;
}

.slideP4-1.on .page-mask,
.slideP4-2.on .page-mask,
.slideP4-3.on .page-mask,
.slideP4-4.on .page-mask {
  opacity: 1;
}

.slideP4-1.on .long-txt,
.slideP4-2.on .long-txt,
.slideP4-3.on .long-txt,
.slideP4-4.on .long-txt {
  opacity: 1;
  transition-delay: .4s;
}

.slide-bar {
  width: 6.675vw;
  position: fixed;
  right: 0;
  top: 56%;
  transform: translate3d(0, -50%, 0);
  z-index: 999999;
}

.slide-bar li {
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-bottom: 23%;
}

.slide-bar li .bg {
  width: 100%;
}

.slide-bar li .dot {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.slide-bar li .img {
  width: 100%;
  position: absolute;
  right: -100%;
  top: 0;
  transition: all .5s;
}

.slide-bar li.on .dot {
  display: none;
}

.slide-bar li.on .img {
  right: 0;
}

.reserve_form .grid.alert .alert_info {
  position: absolute;
  left: 15%;
  top: -15%;
  bottom: auto;
}

.pic-top-tip {
  width: 72.91667vw;
  margin: 4.125vw auto;
  margin-bottom: 2vw;
  display: block;
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-thum {
  position: relative;
  width: 15.10417vw;
  height: 32.16146vw;
  overflow: hidden;
}

.gallery-thumbs {
  width: 100%;
  height: 100%;
}

.gallery-thumbs .swiper-slide {
  height: 10.13021vw;
  /* margin-bottom: 1.04167vw; */
}

.mask1 {
  width: 100%;
  height: 10.33021vw;
  background: rgba(0, 0, 0, .65);
  position: absolute;
  left: 0;
  top: 0;
  transform: translate3d(0, 0, 0);
  z-index: 9;
}

.mask2 {
  width: 100%;
  height: 10.33021vw;
  background: rgba(0, 0, 0, .65);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate3d(0, 0, 0);
  z-index: 9;
}

.iScrollVerticalScrollbar {
  background: url(../images-pc-carstyle/airev/airev-peizhi-line.png);
  width: 9px !important;
}

.iScrollIndicator {
  width: 16px !important;
  left: -6px;
  background: url(../images-pc-carstyle/airev/airev-peizhi-line2.png) !important;
}

.change-main {
  width: 100%;
  height: 100%;
  background-image: url(../images-pc-carstyle/airev/liangdian/bg-1.html);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  display: none;
}

.last-main {
  width: 100%;
  height: 90%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-head {
  margin: 0 auto;
  margin-bottom: 2.08333vw;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-wrap {
  height: 52%;
}

.video-box {
  width: 100%;
  height: 100%;
}

.video-box .item {
  width: calc(100% / 3);
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.video-box .item .img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.video-box .item .mask{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  position: absolute;
  left: 0;
  top: 0;
}

.video-box .item .txt {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  z-index: 2
}

.video-box .item .btn{
  width: 15%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: none;
  /* opacity: 0;
  transition: all .5s; */
}

.video-box .item:hover .mask,
.video-box .item:hover .txt{
  display: none;
}

.video-box .item:hover .btn{
  display: block;
}

.vid-prev{
  width: 20%;
  height: 91%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  /* background: red; */
  cursor: pointer;
}

.vid-prev .img{
  width: 14%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
  display: none;
}

.vid-prev:hover .img{
  display: block;
}

.vid-next{
  width: 20%;
  height: 91%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  /* background: red; */
  cursor: pointer;
}

.vid-next .img{
  width: 14%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
  display: none;
}

.vid-next:hover .img{
  display: block;
}