#wapper .pc-swiper-mainBody .slideHome .home-arrow {
  margin-left: -2.03125vw;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

#wapper .pc-swiper-mainBody .slideHome {
  background: none;
}

#wapper .pc-swiper-mainBody .slideHome .wapp1 {
  width: 100%;
  height: 100%;
  background-image: url(../images-pc-carstyle/victory280t/pc-home.jpg);
  background-position: 50% 40%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

#wapper .pc-swiper-mainBody .slideHome .wapp2 {
  width: 100%;
  height: 100%;
  background-image: url(../images-pc-carstyle/victory280t/pc-home-1.jpg);
  background-position: 50% 40%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

#wapper .pc-swiper-mainBody .slideVideo {
  background-image: none;
}

#wapper .pc-swiper-mainBody .swiperVideo {
  position: relative;
  width: 100%;
  height: 100%;
}

#wapper .pc-swiper-mainBody .slideVideo-1 {
  background-image: url(../images-pc-carstyle/victory280t/pc-video.jpg);
}

#wapper .pc-swiper-mainBody .slideVideo-2 {
  background-image: url(../images-pc-carstyle/victory280t/pc-video2.jpg);
}

#wapper .pc-swiper-mainBody .slideVideo-3 {
  background-image: url(../images-pc-carstyle/victory280t/pc-video3.jpg);
}

#wapper .pc-swiper-mainBody .slideVideo-4 {
  background-image: url(../images-pc-carstyle/victory280t/pc-video4.jpg);
}

#wapper .pc-swiper-mainBody .slideVideo-5 {
  background-image: url(../images-pc-carstyle/victory280t/pc-video5.jpg);
}

#wapper .pc-swiper-mainBody .slideVideo-6 {
  background-image: url(../images-pc-carstyle/victory280t/pc-video6.jpg);
}

.button-video-prev {
  width: 2.5vw;
  height: 2.5vw;
  z-index: 9;
  position: absolute;
  left: 35%;
  top: 28.25521vw;
  cursor: pointer;
}

.button-video-next {
  width: 2.5vw;
  height: 2.5vw;
  z-index: 9;
  position: absolute;
  right: 35%;
  top: 28.25521vw;
  cursor: pointer;
}

#wapper .pc-swiper-mainBody .preorder {
  background-image: url(../images-pc-carstyle/victory280t/zhengce-1.jpg);
}

#wapper .pc-swiper-mainBody .preorder .img-bom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .txt {
  width: 3.77604vw;
  height: 2.09375vw;
  background-image: url(../images-pc-carstyle/victory280t/pc-color-btn-txt.png);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  margin-left: -.3vw;
  background-size: 100%;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .color-btn-04 .txt {
  background-position-y: 100%;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .color-btn {
  margin-bottom: 0.64583vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .txt {
  margin-top: .5vw;
}

#wapper .pc-swiper-mainBody .slideP4 {
  background-image: url(../images-pc-carstyle/victory280t/pc-p4-img-01.jpg);
}

#wapper .pc-swiper-mainBody .slideP4 .bg-01 {
  background-image: url(../images-pc-carstyle/victory280t/pc-p4-img-01.jpg);
}

#wapper .pc-swiper-mainBody .slideP4 .bg-02 {
  background-image: url(../images-pc-carstyle/victory280t/pc-p4-img-02.jpg);
}

#wapper .pc-swiper-mainBody .slideP4 .bg-03 {
  background-image: url(../images-pc-carstyle/victory280t/pc-p4-img-03.jpg);
}

#wapper .pc-swiper-mainBody .slideP4 .btn-wrap .btn {
  background-image: url(../images-pc-carstyle/victory280t/pc-p4-btn.png);
}

#wapper .pc-swiper-mainBody .slideP4-1 .txt .slideP4-more {
  width: 11.61458vw;
  background-image: url(../images-pc-carstyle/victory280t/pc-more-btn3.png);
}

#wapper .pc-swiper-mainBody .slideP4-3 .txt .slideP4-more {
  width: 11.61458vw;
  background-image: url(../images-pc-carstyle/victory280t/pc-more-btn3.png);
}

#wapper .pc-swiper-mainBody .slideP4-2 .txt .slideP4-more {
  width: 11.61458vw;
  background-image: url(../images-pc-carstyle/victory280t/pc-more-btn3.png);
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .slideP4-hide,
#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .slideP4-hide,
#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .slideP4-hide {
  background-image: url(../images-pc-carstyle/victory280t/pc-hide-btn.png);
}

#wapper .pc-swiper-mainBody .slideP4-1 .img {
  background-image: url(../images-pc-carstyle/victory280t/pc-p4-img-01.jpg);
}

#wapper .pc-swiper-mainBody .slideP4-2 .img {
  background-image: url(../images-pc-carstyle/victory280t/pc-p4-img-02.jpg);
}

#wapper .pc-swiper-mainBody .slideP4-3 .img {
  background-image: url(../images-pc-carstyle/victory280t/pc-p4-img-03.jpg);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(1) {
  background-image: url(../images-pc-carstyle/victory280t/img/pic-01.jpg);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(2) {
  background-image: url(../images-pc-carstyle/victory280t/img/pic-02.jpg);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(3) {
  background-image: url(../images-pc-carstyle/victory280t/img/pic-03.jpg);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(4) {
  background-image: url(../images-pc-carstyle/victory280t/img/pic-04.jpg);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(5) {
  background-image: url(../images-pc-carstyle/victory280t/img/pic-05.jpg);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(6) {
  background-image: url(../images-pc-carstyle/victory280t/img/pic-06.jpg);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(7) {
  background-image: url(../images-pc-carstyle/victory280t/img/pic-07.jpg);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(8) {
  background-image: url(../images-pc-carstyle/victory280t/img/pic-08.jpg);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(9) {
  background-image: url(../images-pc-carstyle/victory280t/img/pic-09.jpg);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(10) {
  background-image: url(../images-pc-carstyle/victory280t/img/pic-010.jpg);
}

#wapper .pc-swiper-mainBody .slideImg .img-wrap .img-wrap-s ul li:nth-child(11) {
  background-image: url(../images-pc-carstyle/victory280t/img/pic-011.jpg);
}

#wapper .pc-swiper-mainBody .slidePeizhi .top {
  background-image: url(../images-pc-carstyle/victory280t/pc-top.png);
}

#wapper .nav {
  position: fixed;
  width: 7.687503vw;
  height: 22vw;
  top: 50%;
  right: 1vw;
  z-index: 99;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

#wapper .nav li {
  width: 7.687503vw;
  height: 2.16vw;
  background-image: url(../images-pc-carstyle/victory280t/pc-nav.png);
  background-size: 201%;
  background-position-x: 100%;
  list-style: none;
  cursor: pointer;
  margin-left: 5.85vw;
}

#wapper .nav.style2 li {
  width: 7.687503vw;
  height: 2.16vw;
  background-image: url(../images-pc-carstyle/victory280t/pc-nav-1.png);
  background-size: 201%;
  background-position-x: 100%;
  list-style: none;
  cursor: pointer;
  margin-left: 5.85vw;
}

#wapper .nav li.active {
  background-position-x: 1%;
  -webkit-animation: 1s nav forwards;
  -moz-animation: 1s nav forwards;
  animation: 1s nav forwards;
}

#wapper .nav .nav-01 {
  background-position-y: 0%;
}

#wapper .nav .nav-02 {
  background-position-y: 11.5%;
}

#wapper .nav .nav-03 {
  background-position-y: 23.5%;
}

#wapper .nav .nav-04 {
  background-position-y: 36.5%;
}

#wapper .nav .nav-05 {
  background-position-y: 49.5%;
}

#wapper .nav .nav-06 {
  background-position-y: 62.5%;
}

#wapper .nav .nav-07 {
  background-position-y: 75%;
}

#wapper .nav .nav-08 {
  background-position-y: 87%;
}

#wapper .nav .nav-09 {
  background-position-y: 100%;
}

#wapper .pc-swiper-mainBody .slideP4 .btn-wrap {
  width: 59.16667vw;
  height: 13.64583vw;
  top: 50%;
  z-index: 2;
}

#wapper .pc-swiper-mainBody .slideP4 .btn-wrap .btn {
  width: 19.71354vw;
  height: 13.64583vw;
}

#wapper .pc-swiper-mainBody .slideP4-1 .txt .slideP4-title,
#wapper .pc-swiper-mainBody .slideP4-2 .txt .slideP4-title,
#wapper .pc-swiper-mainBody .slideP4-3 .txt .slideP4-title {
  width: 10.26042vw;
}

#wapper .pc-swiper-mainBody .slideTestDrive .finance-wrap .car {
  width: 45.72917vw;
  left: 38.28125vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .img {
  width: 76.0625vw;
  left: 10.23958vw;
  top: auto;
  bottom: 0;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .bg {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

#wapper .pc-swiper-mainBody .slideP3 .car-btn {
  background-color: #4a4a4a;
  z-index: 999;
}

#wapper .pc-swiper-mainBody .slideP3 .car-btn-1 {
  background-color: #e7cb88;
}

#wapper .pc-swiper-mainBody .slideP3 .car-btn-2 {
  background-color: #b9bdc6;
}

#wapper .pc-swiper-mainBody .slideP3 ul {
  width: auto;
  left: 35%;
  top: 25%;
  color: #fff;
  z-index: 999;
  font-size: 1vw;
  font-family: 'fzya';
}

#wapper .pc-swiper-mainBody .slideP3 ul li {
  width: auto;
  border-right: 1px solid #fff;
  padding: 0 1vw 0 .75vw;
  opacity: .5;
  font-size: 1vw;
  color: #fff;
  cursor: pointer;
  height: 1.7vw;
  line-height: 2.08vw;
}

#wapper .pc-swiper-mainBody .slideP3 ul li.active {
  opacity: 1;
  color: #fff;
}

#wapper .pc-swiper-mainBody .slideP3 ul li:last-child {
  border-right: none;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap,
#wapper .pc-swiper-mainBody .slideP3 .car-wrap-1,
#wapper .pc-swiper-mainBody .slideP3 .car-wrap-2,
#wapper .pc-swiper-mainBody .slideP3 .car-wrap-3 {
  background-color: transparent;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .carPrice .xz {
  font-size: 0.83333vw;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .title2 {
  width: 25.85938vw;
  margin-top: 5.83333vw;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .title3 {
  margin-top: 6.38021vw;
  width: 24.53125vw;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .img2 {
  margin-top: 17.31771vw;
}

#wapper .pc-swiper-mainBody .slideP4-1 .more-warp .box .img3 {
  width: 63.28125vw;
  margin-top: 10.5vw;
  margin-left: 27.34375vw;
  margin-bottom: 8.46354vw;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .img1,
#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .img2 {
  width: 63.25521vw;
  margin-left: 27.34375vw;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .img1 {
  margin-top: 8.5vw;
}

#wapper .pc-swiper-mainBody .slideP4-2 .more-warp .box .img2 {
  left: 0;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
  margin-bottom: 9.11458vw;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .title1 {
  width: 28.125vw;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .title2 {
  width: 28.33333vw;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .img1 {
  margin-top: 11.5vw;
  margin-left: 27.34375vw;
}

#wapper .pc-swiper-mainBody .slideP4-3 .more-warp .box .img2 {
  position: relative;
  width: 63.25521vw;
  top: 0;
  left: 0;
  margin-top: 15vw;
  margin-left: 27.70833vw;
  margin-bottom: 9.11458vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-logo {
  width: 13.46354vw;
}

#wapper .pc-swiper-mainBody .slideP4 .line {
  left: 50%;
  width: 24.0625vw;
  height: 9.30729vw;
  top: 37%;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .color-btn {
  width: 8.4vw;
  display: block;
}

#wapper .pc-swiper-mainBody .slideVideo .video-txt {
  width: 15.72917vw;
  top: 27.85521vw;
  left: 42.13542vw;
  z-index: 9;
}

#wapper .pc-swiper-mainBody .slideP3 {
  background-image: none;
}

#wapper .pc-swiper-mainBody .slideP3 .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: right top;
  opacity: 0;
}

#wapper .pc-swiper-mainBody .slideP3 .bg.show {
  opacity: 1;
}

#wapper .pc-swiper-mainBody .slideP3 .bg1 {
  background-image: url(../images-pc-carstyle/victory280t/pc-car-bg-01.jpg);
}

#wapper .pc-swiper-mainBody .slideP3 .bg2 {
  background-image: url(../images-pc-carstyle/victory280t/pc-car-bg-02.jpg);
}

#wapper .pc-swiper-mainBody .slideP3 .bg3 {
  background-image: url(../images-pc-carstyle/victory280t/pc-car-bg-03.jpg);
}

#wapper .pc-swiper-mainBody .slideP3 .bg4 {
  background-image: url(../images-pc-carstyle/victory280t/pc-car-bg-04.jpg);
}

#wapper .pc-swiper-mainBody .slideP3 .bg5 {
  background-image: url(../images-pc-carstyle/victory280t/pc-car-bg-05.jpg);
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: none;
}

#wapper .pc-swiper-mainBody .slideP3 .car-btn {
  background-color: #354760;
  width: 3.46875vw;
  font-size: 1.58333vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap h1 {
  left: 12.5vw;
  top: 10.64062vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .carPrice {
  left: 10.8125vw;
  top: 19.35938vw;
  color: #454545;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .carPrice .carDistance {
  margin-top: -15px;
  margin-left: 2vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap h1 {
  font-size: 2vw;
  text-align: left;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap h1 span {
  font-size: 3.125vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap h1 span,
#wapper .pc-swiper-mainBody .slideP3 .car-wrap h1,
#wapper .pc-swiper-mainBody .slideP3 .car-wrap .carPrice .pri {
  font-family: 'fzya';
  color: #454545;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .carPrice .pri {
  font-size: 5.125vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn {
  position: absolute;
  width: auto;
  height: 3.09896vw;
  bottom: auto;
  top: 28%;
  left: auto;
  right: 6.8125vw;
  display: block;
  z-index: 999;
}

.loading {
  background: #ededed;
}

#wapper .pc-swiper-mainBody .slideP4-1 .img,
#wapper .pc-swiper-mainBody .slideP4-2 .img,
#wapper .pc-swiper-mainBody .slideP4-3 .img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

#wapper .pc-swiper-mainBody .slideP4-1 .txt,
#wapper .pc-swiper-mainBody .slideP4-2 .txt,
#wapper .pc-swiper-mainBody .slideP4-3 .txt {
  background: none;
}

#wapper .pc-swiper-mainBody .slideP4-1 .txt .slideP4-title,
#wapper .pc-swiper-mainBody .slideP4-2 .txt .slideP4-title,
#wapper .pc-swiper-mainBody .slideP4-3 .txt .slideP4-title {
  width: 14.60938vw;
  top: 11.71875vw;
  left: 7.8125vw;
}

#wapper .pc-swiper-mainBody .slideP4-1 .txt .slideP4-more,
#wapper .pc-swiper-mainBody .slideP4-2 .txt .slideP4-more,
#wapper .pc-swiper-mainBody .slideP4-3 .txt .slideP4-more {
  bottom: 10.28646vw;
  left: 7.8125vw;
}

.p4-1-img,
.p4-2-img,
.p4-3-img {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

#wapper .pc-swiper-mainBody .slideTestDrive .testDrive-wrap .title {
  opacity: 0;
}

#wapper .pc-swiper-mainBody .slideTestDrive .testDrive-wrap {
  height: 100%;
  background-size: cover;
  background-position: center right;
  background-image: url(../images-pc-carstyle/victory280t/testDrive-bg.jpg);
}

.reserve_form .drop_select {
  border-bottom: 1px solid #384f6c;
}

.reserve_form .btm .hint .txt,
.reserve_form .drop_select input,
.reserve_form .drop_select select {
  color: #384f6c;
}

.reserve_form .btm .hint .txt {
  background: url(../images-pc-carstyle/victory280t/dot2.png) left center no-repeat;
  background-size: 8%;
}

.reserve_form .btm .btn {
  color: #384f6c;
  border: 1px solid #384f6c;
}

.reserve_form .btm .btn:hover {
  background-color: #384f6c;
  color: #fff;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #384f6c;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #384f6c;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #384f6c;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #384f6c;
}

.p4-1-img1 {
  width: 21.09375vw;
  margin-left: 7.8125vw;
  margin-top: 5.20833vw;
}

.p4-1-img2 {
  width: 53.35938vw;
  margin-left: 38.02083vw;
  margin-top: -14.58333vw;
}

.p4-1-img3 {
  width: 14.375vw;
  margin-left: 7.8125vw;
  margin-top: 7.8125vw;
}

.p4-1-img4 {
  width: 42.1875vw;
  margin-left: 7.8125vw;
  margin-top: 2.08333vw;
}

.p4-1-img5 {
  width: 16.22396vw;
  margin-left: 52.60417vw;
  margin-top: -26.04167vw;
}

.p4-1-img6 {
  width: 23.56771vw;
  margin-left: 23.95833vw;
  margin-top: 42.70833vw;
}

.p4-1-img7 {
  width: 41.69271vw;
  margin-left: 50vw;
  margin-top: -24.47917vw;
}

.p4-1-img8 {
  width: 9.47917vw;
  margin-left: 7.8125vw;
  margin-top: 8.59375vw;
  margin-bottom: 2.34375vw;
}

.p4-1-img9 {
  width: 100vw;
}

.p4-1-img10 {
  width: 23.28125vw;
  margin-left: 7.8125vw;
  margin-top: 2.34375vw;
  margin-bottom: 5.98958vw;
}

.p4-1-img11 {
  width: 9.34896vw;
  margin-left: 7.8125vw;
  margin-top: 2.34375vw;
  margin-bottom: 2.60417vw;
}

.p4-1-img12 {
  width: 50.59896vw;
  margin-left: 7.8125vw;
}

.p4-1-img13 {
  width: 23.56771vw;
  margin-left: 60.49479vw;
  margin-top: -30.46875vw;
  margin-bottom: 30.46875vw;
}

.p4-2-img1 {
  width: 9.34896vw;
  margin-left: 7.8125vw;
  margin-top: 5.20833vw;
  margin-bottom: 2.34375vw;
}

.p4-2-img2 {
  width: 42.00521vw;
  margin-left: 7.8125vw;
}

.p4-2-img3 {
  width: 12.1875vw;
  margin-left: 52.55208vw;
  margin-top: -26.35417vw;
}

.p4-2-img4 {
  width: 14.73958vw;
  margin-left: 33.59375vw;
  margin-top: 35vw;
}

.p4-2-img5 {
  width: 40.67708vw;
  margin-left: 49.73958vw;
  margin-top: -12.23958vw;
}

.p4-2-img6 {
  width: 41.97917vw;
  margin-left: 7.8125vw;
}

.p4-2-img7 {
  width: 20vw;
  margin-left: 52.29167vw;
  margin-top: -4.08333vw;
}

.p4-2-img8 {
  width: 25.33854vw;
  margin-left: 7.8125vw;
  margin-top: 9.89583vw;
}

.p4-2-img9 {
  width: 49.84375vw;
  margin-left: 41.14583vw;
  margin-top: -15.10417vw;
}

.p4-2-img10 {
  width: 23.80729vw;
  margin-left: 7.8125vw;
  margin-top: 8.46354vw;
}

.p4-2-img11 {
  width: 100vw;
  margin-top: -6vw;
}

.p4-2-img12 {
  width: 18.72396vw;
  margin-left: 7.8125vw;
}

.p4-2-img13 {
  width: 100vw;
  margin-top: -17vw;
}

.p4-2-img14 {
  width: 24.92188vw;
  margin-left: 7.8125vw;
}

.p4-2-img15 {
  width: 53.80208vw;
  margin-left: 37.23958vw;
  margin-top: -10.41667vw;
  margin-bottom: 6.77083vw;
}

#wapper .pc-swiper-mainBody .slideTestDrive .car {
  position: absolute;
  width: 65.08333vw;
  right: 4.2vw;
  bottom: 0;
}

.p4-3-img1 {
  width: 32.26562vw;
  margin-left: 7.8125vw;
  margin-top: 5.20833vw;
  margin-bottom: 2.34375vw;
}

.p4-3-img2 {
  width: 100vw;
  margin-top: -17.70833vw;
}

.p4-3-img3 {
  width: 100vw;
  margin-top: -11.27083vw;
}

#wapper .pc-swiper-mainBody .slideP4-3.more .more-warp {
  background-image: url(../images-pc-carstyle/victory280t/p4-3/bg.jpg);
  background-size: cover;
  background-position: left bottom;
}

.p4-3-img4 {
  width: 37.83854vw;
  margin-left: 7.8125vw;
  margin-top: 8.59375vw;
  margin-bottom: 7.8125vw;
}

.p4-3-img5 {
  width: 100vw;
}

.p4-3-img6 {
  width: 35.02604vw;
  margin-left: 7.8125vw;
  margin-top: 4.16667vw;
  margin-bottom: 8.33333vw;
}

.p4-3-img7 {
  width: 20.13021vw;
  margin-left: 7.8125vw;
}

.p4-3-img8 {
  width: 49.50521vw;
  margin-left: 7.8125vw;
  margin-top: 3.125vw;
}

.p4-3-img9 {
  width: 17.16146vw;
  margin-left: 60.54688vw;
  margin-top: -28.125vw;
}

.p4-3-img10 {
  width: 24.58333vw;
  margin-left: 7.8125vw;
  margin-top: 30.46875vw;
}

.p4-3-img11 {
  width: 100vw;
  margin-top: -17.96875vw;
}


.slideImg {
  background-image: url(../images-pc-carstyle/victory280t/slideImg.jpg);
}

footer {
  background: none;
}

.p4-1-img1,
.p4-1-img6,
.p4-1-img5,
.p4-1-img10,
.p4-1-img13,
.p4-2-img3,
.p4-2-img4,
.p4-2-img7,
.p4-2-img8,
.p4-2-img10,
.p4-2-img12,
.p4-2-img14,
.p4-3-img1,
.p4-3-img4,
.p4-3-img6,
.p4-3-img7,
.p4-3-img9,
.p4-3-img10 {
  opacity: 0
}

.p4-1-img1.on,
.p4-1-img6.on,
.p4-1-img10.on,
.p4-2-img4.on,
.p4-2-img8.on,
.p4-2-img10.on,
.p4-2-img12.on,
.p4-2-img14.on,
.p4-3-img1.on,
.p4-3-img4.on,
.p4-3-img6.on,
.p4-3-img7.on,
.p4-3-img10.on {
  -webkit-animation: .5s left forwards;
  -moz-animation: .5s left forwards;
  animation: .5s left forwards;
}

.p4-1-img5.on,
.p4-1-img13.on,
.p4-2-img3.on,
.p4-2-img7.on,
.p4-3-img9.on {
  -webkit-animation: .5s right forwards;
  -moz-animation: .5s right forwards;
  animation: .5s right forwards;
}

.reserve_form .drop_select input,
.reserve_form .drop_select select,
.reserve_form .btm .hint .txt,
.reserve_form .btm .btn {
  font-family: "fzya";
}

#wapper .pc-swiper-mainBody .slideImg .title {
  margin: 2.29688vw 0 2.125vw 13.80208vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .img-color {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  height: 3.2vw;
}

#wapper .pc-swiper-mainBody .lastCode {
  background: url(../images-pc-carstyle/victory280t/pc-last.jpg) no-repeat;
  background-position: center top;
  background-size: cover;
}

.home-txt {
  position: absolute;
  width: 12%;
  bottom: 2%;
  right: 1%;
}

.btnsBox {
  width: 100%;
  height: 20.64583vw;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translate(0, -50%);
  background: rgba(0, 0, 0, .2);
  z-index: 1;
}

.quanyi .img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-image: url(../images-pc-carstyle/victory280t/quanyi.jpg);
  background-size: cover;
}

#wapper .pc-swiper-mainBody .swiper-slide.slideDongLi.more {
  overflow-y: scroll;
}

.slideDongLi .con {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  background: url(../images-pc-carstyle/victory280t/bg-dl.jpg) no-repeat top;
  background-position: 50% 5%;
  background-size: cover;
}

.slideDongLi .con .dlBom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.slideDongLi .con .dlBom img {
  width: 100%;
}

.slideDongLi .con .dlBom .dbBox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.slideDongLi .con .dlBom .dbBox span {
  width: 25%;
  height: 100%;
  display: block;
  float: left;
  cursor: pointer;
}

.dlMore {
  width: 100%;
  position: relative;
}

.dlMore .bg {
  width: 100%;
}

.dlMore .boxMain {
  width: 100%;
  height: 97%;
  position: absolute;
  left: 0;
  top: 0;
}

.dlMore .box {
  width: 100%;
  /* margin-bottom: 6%; */
  padding-top: 6%;
  overflow: hidden;
  position: relative;
}

.dlMore .box .im {
  width: 62%;
}

.dlMore .box .im-all {
  width: 100%;
}

.dlMore .box .im.left {
  float: left;
}

.dlMore .box .im.right {
  float: right;
}

.dlMore .box .txt1 {
  width: 20.20%;
  position: absolute;
  left: -120%;
  /* top: 0; */
  opacity: 0;
  transition: all 1s;
}

.dlMore .box .txt1.on {
  left: 9%;
  opacity: 1;
}

.dlMore .box .txt2 {
  width: 25.93%;
  position: absolute;
  right: -120%;
  /* top: 0; */
  opacity: 0;
  transition: all 1s;
}

.dlMore .box .txt2.on {
  right: 8%;
  opacity: 1;
}

.dlMore .box .txt3 {
  width: 35.31%;
  margin-left: -120%;
  padding-top: 4%;
  opacity: 0;
  display: block;
  transition: all 1s;
}

.dlMore .box .txt3.on {
  margin-left: 9%;
  opacity: 1;
}

.dlMore .box .txt4 {
  width: 25.78%;
  position: absolute;
  right: -120%;
  /* top: 0; */
  opacity: 0;
  transition: all 1s;
}

.dlMore .box .txt4.on {
  right: 8%;
  opacity: 1;
}

.dlMore .boxMain .hide {
  position: relative;
  width: 11.69271vw;
  height: 3.54167vw;
  left: 50%;
  top: 9vw;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url(../images-pc-carstyle/victory280t/pc-hide-btn.png);
  background-size: 100%;
  background-position: 50% 100%;
  cursor: pointer;
}

.dlMore .boxMain .hide:hover {
  background-position: 50% 0%;
}


#wapper .pc-swiper-mainBody .swiper-slide.swiperLing.more {
  overflow-y: scroll;
}

.swiperLing .con {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../images-pc-carstyle/victory280t/bg-os.jpg) no-repeat top;
  background-position: 50% 5%;
  background-size: cover;
}

.swiperLing .con .liBom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.swiperLing .con .liBom img {
  width: 100%;
}

.swiperLing .con .liBom .liBox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.swiperLing .con .liBom .liBox span {
  width: 25%;
  height: 100%;
  display: block;
  float: left;
  cursor: pointer;
}

.liMore {
  width: 100%;
  position: relative;
}

.liMore .bg {
  width: 100%;
}

.liMore .boxMain {
  width: 100%;
  height: 97%;
  position: absolute;
  left: 0;
  top: 0;
}

.liMore .box {
  width: 100%;
  padding-top: 6%;
  overflow: hidden;
  position: relative;
}

.liMore .box .im {
  width: 62%;
}

.liMore .box .im-all {
  width: 100%;
}

.liMore .box .im.left {
  float: left;
}

.liMore .box .im.right {
  float: right;
}

.liMore .box .txt1 {
  width: 21.4%;
  position: absolute;
  left: -120%;
  /* top: 0; */
  opacity: 0;
  transition: all 1s;
}

.liMore .box .txt1.on {
  left: 9%;
  opacity: 1;
}

.liMore .box .txt2 {
  width: 22.29%;
  position: absolute;
  right: -120%;
  /* top: 0; */
  opacity: 0;
  transition: all 1s;
}

.liMore .box .txt2.on {
  right: 8%;
  opacity: 1;
}

.liMore .box .txt3 {
  width: 30.72%;
  margin-left: -120%;
  padding-top: 4%;
  opacity: 0;
  display: block;
  transition: all 1s;
}

.liMore .box .txt3.on {
  margin-left: 9%;
  opacity: 1;
}

.liMore .box .txt4 {
  width: 21.4%;
  position: absolute;
  right: -120%;
  /* top: 0; */
  opacity: 0;
  transition: all 1s;
}

.liMore .box .txt4.on {
  right: 8%;
  opacity: 1;
}

.liMore .boxMain .hide {
  position: relative;
  width: 11.69271vw;
  height: 3.54167vw;
  left: 50%;
  top: 9vw;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url(../images-pc-carstyle/victory280t/pc-hide-btn.png);
  background-size: 100%;
  background-position: 50% 100%;
  cursor: pointer;
}

.liMore .boxMain .hide:hover {
  background-position: 50% 0%;
}

.btn-booking {
  position: absolute;
  width: 5.3125%;
  right: 0.5%;
  bottom: 5%;
  cursor: pointer;
  z-index: 200;
}

#wapper .pc-swiper-mainBody .top {
  bottom: 3.20833vw;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .color-btn-01 .txt {
  background-position-y: -4%;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .color-btn-02 .txt {
  background-position-y: 26.3%;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .color-btn-03 .txt {
  background-position-y: 52.6%;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .color-btn-04 .txt {
  background-position-y: 78%;
}

#wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn .color-btn-05 .txt {
  background-position-y: 100%;
}

.tip-car-bom {
  width: 15%;
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  z-index: 9;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-head {
  width: 82vw;
  margin: 2.77604vw auto 2.08333vw;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-head .title {
  width: 11%;
  display: block;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-wrap {
  width: 79.66525vw;
  height: 65%;
  overflow: hidden;
  padding: 0;
  background: #f3f3f3;
  padding: 0vw 1.25vw;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-wrap .img,
#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-wrap .head {
  width: 99%;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-wrap .img.head{
  border: 0;
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-wrap .img-wrap {
  height: 82%;
}

#wapper .pc-swiper-mainBody .slidePeizhi .txt {
  width: 81.91667vw;
  /* margin: 0.5625vw auto;
  margin-left: 10.167375vw; */
}

#wapper .pc-swiper-mainBody .slidePeizhi .slidePeizhi-wrap .img {
  border-bottom: 1px solid #d7d7d7;
}

.dotbom {
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 5%;
  text-align: center;
  z-index: 2;
}

.dotbom span {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  display: inline-block;
  margin: 0 30px;
  cursor: pointer;
}

.dotbom span.on {
  transform: scale(1.6);
}

.dotzcbom {
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 5%;
  text-align: center;
  z-index: 2;
}

.dotzcbom span {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #a2a2a2;
  display: inline-block;
  margin: 0 30px;
  cursor: pointer;
}

.dotzcbom span.on {
  transform: scale(1.6);
}


#wapper .pc-swiper-mainBody .preorder .wapp1 {
  width: 100%;
  height: 100%;
  background-image: url(../images-pc-carstyle/victory280t/new-zc-1.jpg);
  background-position: 50% 40%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

#wapper .pc-swiper-mainBody .preorder .wapp2 {
  width: 100%;
  height: 100%;
  background-image: url(../images-pc-carstyle/victory280t/new-zc-2.jpg);
  background-position: 50% 40%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

@media screen and (min-height: 1390px) {
  #wapper .pc-swiper-mainBody .slideP3 .car-wrap .car-color-btn {
    top: 33%;
  }
}

@media screen and (max-height: 700px) {

  /*1366*658*/
  #wapper .pc-swiper-mainBody .lastCode {
    background: url(../images-pc-carstyle/victory280t/pc-last.jpg) no-repeat;
    background-position: 50% 5%;
    background-size: cover;
  }
}